:root {
  --tokenDark: #111111;
  --tokenGray: #7d7d7d;
  --tokenLight: #e8e4dd;
  --tokenPink: #f500e8;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 24px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--tokenDark);
  color: var(--tokenGray);
  padding: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  color: var(--tokenLight);
}

html,
body,
#root,
.App {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--tokenPink);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(76, 75, 73, 0),
    rgba(76, 75, 73, 0.75),
    rgba(76, 75, 73, 0)
  );
}

figure {
  blockquote {
    margin: 0;

    p {
      padding: 1rem;
      background-color: #181818;
      color: var(--tokenLight);
      border-radius: 0.5rem;

      &::before {
        content: "\201C";
      }

      &::after {
        content: "\201D";
      }
    }
  }

  figcaption {
    color: var(--tokenLight);
  }
}

pre code {
  background-color: #181818;
  border: 1px solid #4c4b49;
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}
