@import url("../../index.css");

.button {
  border: 0;
  border-radius: 3em;
  padding-top: var(--token-spacing-16);
  padding-left: var(--token-spacing-24);
  padding-right: var(--token-spacing-24);
  padding-bottom: var(--token-spacing-16);
  font-size: 1rem;
  list-style: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.button--primary {
  color: var(--token-color-dark-1);
  background-color: var(--token-color-green);
}

.button--secondary {
  color: var(--token-color-dark-1);
  background-color: var(--token-color-light-1);
}

.button--large {
  padding-top: var(--token-spacing-16);
  padding-left: var(--token-spacing-24);
  padding-right: var(--token-spacing-24);
  padding-bottom: var(--token-spacing-16);
  font-size: 1rem;
  list-style: 1.5rem;
}

.button--medium {
  padding-top: var(--token-spacing-8);
  padding-left: var(--token-spacing-16);
  padding-right: var(--token-spacing-16);
  padding-bottom: var(--token-spacing-8);
  font-size: 0.9rem;
  list-style: 1rem;
}

.button--small {
  padding-top: var(--token-spacing-4);
  padding-left: var(--token-spacing-8);
  padding-right: var(--token-spacing-8);
  padding-bottom: var(--token-spacing-4);
  font-size: 0.75rem;
  list-style: 1rem;
}
